*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}

:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
}
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin: 0px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}

.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo-footer:hover {
  color: var(--accent-color);
}
.web {
  color: var(--accent-color);
  font-family: Oleo Script, cursive;
  font-size: 26px;
  line-height: 1.38;
  font-weight: 400;
  letter-spacing: 0.03em;
}
/* site-nav */
.site-nav .link {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}
.link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  display: block;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
.business {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0px;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.business-title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.button {
  font-family: inherit;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 152px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}

.button-p {
  font-family: inherit;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;

  border: 1px solid transparent;
  border-radius: 4px;

  display: inline-block;
  align-items: center;
  text-align: center;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-p:hover,
.button-p:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-text {
  color: var(--primary-text-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.work-title,
.comand-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* text-position (Чим ми займаємося) */
.position {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);

  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.img-position {
  position: relative;
}
.comand-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.comand-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.footer {
  background-color: #2f303a;
}
.logo-footer {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  font-style: normal;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.link-footer {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:hover,
.link-footer:focus {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Container */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}
.nav {
  display: flex;
  align-items: center;
}

/* Main */
.list .section-title {
  margin-bottom: 10px;
}
.priority {
  display: flex;
  flex-wrap: wrap;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.priority .item {
  width: 270px;
  margin-right: 30px;
}

.priority .item:last-child {
  margin-right: 0;
}
.working {
  display: flex;
}
.work-title {
  margin-bottom: 50px;
}
.working .item {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
}
.working .item:last-child {
  margin-right: 0;
}

.section.comand {
  background-color: #f5f4fa;
}
.comand-list {
  display: flex;
}
.comand-title {
  margin-bottom: 50px;
}
.comand-list .item {
  width: calc((100% - 90px) * 4);
  margin-right: 30px;
  border: 1px solid transparent;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.comand-list .item:last-child {
  margin-right: 0;
}
.job-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.comand-name {
  margin-bottom: 10px;
}
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project-list .item {
  width: calc((100% - 60px) / 3);
}

.hovery:hover,
.hovery:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.hovery:hover .text-overlay,
.hovery:focus .text-overlay {
  transform: translateY(0);
}
.hovery:hover .img-overlay::before,
.hovery:focus .img-overlay::before {
  transform: translateY(0);
}

.name-project {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.name {
  margin-bottom: 4px;
}
.section-priority {
  padding-bottom: 0px;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.address-list .item {
  margin-bottom: 9px;
}

.address-list .item:last-child {
  margin-bottom: 0px;
}

/* Спрайт */
.icon {
  fill: currentColor;
  margin-right: 10px;
}
.icon-features {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
}

.social-links {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks {
  display: flex;
  align-items: baseline;
}

.social-network {
  margin-left: 70px;
}

.social-list {
  display: flex;
  gap: 10px;
}

.icon-social-links {
  fill: var(--secondary-text-color);
}

.social-links:hover,
.social-links:focus {
  background-color: var(--accent-color);
}

.join {
  text-align: left;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.comand-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-comand {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-items {
  margin-left: 10px;
}
.icon-items:nth-child(1) {
  margin-left: 0px;
}
.icon-link {
  width: 44px;
  height: 44px;
  text-decoration: none;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}
.icon-link:hover .icon-comand,
.icon-link:focus .icon-comand {
  fill: #ffffff;
}
.icon-client {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-items {
  margin-left: 30px;
}

.client-items:nth-child(1) {
  margin-left: 0px;
}
.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.client-link:hover .icon-client,
.client-link:focus .icon-client {
  fill: var(--accent-color);
}

/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  min-width: 528px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-comand-button {
  fill: #000000;
}

.icon-button {
  width: 30px;
  height: 30px;
  text-decoration: none;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

/* OVERLAY PORTFOLIO */
.overlay {
  position: relative;
  overflow: hidden;
}

.img-overlay::before {
  display: inline-block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  text-align: left;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}

/* .icon-link:hover,
    .icon-link:focus {
      background-color: var(--accent-color);
      border-radius: 50%;} */
